<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      
      <!-- Project 1 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://github.com/AshaRavilla/YouTube-Content-Insights" target="_blank" >
          <div class="caption">
            <div class="caption-content">
              <h4>YouTube-Content-Insights</h4>
            </div>
          </div>
          <img src="img/portfolio/cabin.png" class="img-responsive" alt="Project 1 Image">
        </a>
        <p class="brief-description">Brief description of Project 1.</p>
      </div>
      
      <!-- Project 2 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://github.com/AshaRavilla/-ELT-Pipeline_DBT_Snowflake_Airflow" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <h4>ELT-Pipeline_DBT_Snowflake_Airflow</h4>
            </div>
          </div>
          <img src="img/portfolio/project2.png" class="img-responsive" alt="Project 2 Image">
          <p class="brief-description">Brief description of Project 2.</p>
        </a>
      </div>
      
      <!-- Project 3 -->
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://github.com/AshaRavilla/e2e-data-engineering" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <h4>e2e-data-engineering</h4>
              <p class="brief-description">Brief description of Project 3.</p>
            </div>
          </div>
          <img src="img/portfolio/project3.png" class="img-responsive" alt="Project 3 Image">
        </a>
      </div>

      <!-- Add more projects similarly as needed -->

    </div>
  </div>
</section>
